In [1]:
import sqlite3
import pandas as pd

In [2]:
def execute_sql_query(query):
    conn = sqlite3.connect('/Users/levbarbash/LondonProg/Assignment3/airline2.db')
    q_planes = conn.execute(query).fetchall()
    conn.close()
    return pd.DataFrame(q_planes)

In [7]:
execute_sql_query('''
SELECT carriers.Description AS carrier, 
    CAST(COUNT(CASE WHEN ontime.Cancelled = 1 THEN 1 END) AS float) / CAST(COUNT(*) AS FLOAT) AS ratio
FROM carriers
JOIN ontime ON ontime.UniqueCarrier = carriers.Code
WHERE carriers.Description IN ('United Air Lines Inc.', 'American Airlines Inc.', 'Pinnacle Airlines Inc.', 'Delta Air Lines Inc.')
GROUP BY carriers.Description
ORDER BY ratio DESC''')

                        0         1
0   United Air Lines Inc.  0.027924
1    Delta Air Lines Inc.  0.024082
2  American Airlines Inc.  0.023841